body {
  padding-top: 50px;
  position: relative;
}
section {
  padding: 20px 0px;
}
.modal form {
  margin-bottom: 0px;
}
footer {
    padding-bottom: 20px;
}
p.login-signup {
    margin-top: 20px;
}

.feature-columns {
    .make-row();

    > div {
        i.fa {
            margin-bottom: 0.2em;
        }
        .make-sm-column(4);
        .text-center;
        margin: 2em 0;
    }
}

body.reviews.review-list .review-list,
body.reviews.voting-status .voting-status,
body.reviews.review-results .review-results {
    z-index: 2; // Place active items above their siblings for proper border styling
    color: @list-group-active-color;
    background-color: @list-group-active-bg;
    border-color: @list-group-active-border;
}

body.reviews.voting-status {
    &.positive a.positive,
    &.negative a.negative,
    &.indifferent a.indifferent,
    &.controversial a.controversial,
    &.too_few a.too_few {
        z-index: 2;
        color: #333;
        background-color: #e6e6e6;
        border-color: #adadad;
        outline: 0;
        background-image: none;
        box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    }
}
