{% load i18n %}
{% load account_tags %}


<ul class="nav navbar-nav user-buttons">
    {% if request.user.is_authenticated %}
        <!-- span class="navbar-text">
            <i class="fa fa-user"></i> {% user_display request.user %}
        </span -->

        <li>
            <a href="{% url "dashboard" %}" title="{% trans "Dashboard" %}"><i class="fa fa-tasks"></i> <span>{{ request.user.username }}</span></a>
        </li>
        <li>
            <a href="{% url 'account_settings' %}" title="{% trans "Settings" %}"><i class="fa fa-cog"></i> <span class="hidden-lg"> {% trans "Settings" %}</span></a>
        </li>
        <li>
            <a id="account_logout" href="{% url 'account_logout' %}" title="{% trans "Log out" %}"><i class="fa fa-power-off"></i> <span class="hidden-lg"> {% trans "Log out" %}</span></a>
        </li>
    {% else %}
        <li><a href="{% url 'account_login' %}" title="{% trans "Log in" %}"><i class="fa fa-sign-in"></i> <span class="hidden-lg"> {% trans "Log in" %}</span></a></li>
        {% if ACCOUNT_OPEN_SIGNUP %}
            <li><a href="{% url 'account_signup' %}" title="{% trans "Sign up" %}"><i class="fa fa-user-plus"></i> <span class="hidden-lg"> {% trans "Sign up" %}</span></a></li>
        {% endif %}
    {% endif %}
</ul>

<form id="accountLogOutForm" style="display: none;" action="{% url 'account_logout' %}" method="POST">
    {% csrf_token %}
</form>
