{% load sitetree %}

<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        {% sitetree_menu from "main" include "trunk" template "sitetree/menu_bootstrap3.html" %}
        <p>PYCONAR2016 | Powered by <a href="http://eldarion.com/symposion/" target="_blank">Symposion</a></p>
      </div>
      <div class="col-md-6 text-right">
        <p>Contactate a través de:</p>
        <a href="https://twitter.com/pyconar" target="_blank"><img src="/site_media/static/images/logo-twitter.svg"></a>
        <a href="https://www.facebook.com/pyconar2016/" target="_blank"><img src="/site_media/static/images/logo-facebook.svg"></a>
      </div>
    </div>
  </div>
</footer>
