{% extends "site_base.html" %}

{% load i18n %}
{% load pinax_boxes_tags %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block body %}

<h1>ACERCA DEL EVENTO</h1>

PyCon es una conferencia comunitaria organizada y llevada a cabo por voluntarios de la comunidad Python (PyAr), dura varios días donde se darán pequeños cursos y charlas relacionadas a este lenguaje que de a poco se va a haciendo su lugar entre los desarrolladores. Tenemos como intención hacer un espacio en donde cualquier persona interesada pueda acercarse para preguntar, aprender y experimentar con estas herramientas.

{% endblock %}
