{% extends "site_base.html" %}

{% load i18n %}
{% load pinax_boxes_tags %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block body %}

<h1>INSCRIPCIONES ABIERTAS</h1>

“Durante todas las jornadas, podrás elegir entre 2 charlas que se darán al
mismo tiempo. Qué tenemos preparado para que vengas? Un pybus que
viaja de CABA a Bahía Blanca , convenios con hostels, premios y mucho
más..te mantenemos al tanto!”

<h1>SOBRE EL EVENTO</h1>
PyCon es una conferencia comunitaria organizada y llevada a cabo por voluntarios de la comunidad Python (PyAr), dura varios días donde se darán pequeños cursos y charlas relacionadas a este lenguaje que de a poco se va a haciendo su lugar entre los desarrolladores. Tenemos como intención hacer un espacio en donde cualquier persona interesada pueda acercarse para preguntar, aprender y experimentar con estas herramientas.


<h1>¿QUÉ ES PYTHON?</h1>
Python es un lenguaje de programación interpretado y orientado a objetos, creado por Guido Van Rossum en el año 1990, que puede ser usado para desarrollar aplicaciones de múltiples tipos (multiparadigma). Permite integrar fácilmente otros lenguajes y herramientas. Incluye una amplia biblioteca de funciones y es sencillo de aprender. Muchos programadores Python, reconocen un sustancial aumento en su productividad y sienten que el lenguaje mismo los incentiva al desarrollo de código de mayor calidad y más fácil de mantener. Está disponible en múltiples plataformas, desde una PC hasta teléfonos celulares, y muchos sitios de internet utilizan Python como soporte de sus servicios.
Reconocido en el ambiente del Software Libre, visto como una creciente alternativa a Java y .Net, es usado actualmente por miles de empresas incluyendo Google, ILM, Irobot, Nasa, Walt Disney Animation Studios y Docker, Dropbox y YouTube.
En la actualidad Python se desarrolla como un proyecto de código abierto, administrado por la Python Software Foundation. Más información en: www.python.org

<h1>PYAR</h1>
Pyar es la comunidad local de usuarios del lenguaje Python, que nuclea a todos los interesados en la Argentina. Pretende llegar a usuarios y empresas, promover el uso del lenguaje, intercambiar información, compartir experiencias y, en general, ser el marco de referencia local en el uso y difusión de esta tecnología

{% endblock %}
