{% extends "site_base.html" %}

{% load i18n %}
{% load pinax_boxes_tags %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body_class %}about{% endblock %}

{% block body_base %}
  <section class="container-fluid secondary block-yellow">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2>SOBRE EL EVENTO</h2>
          <p>PyconAr es la conferencia anual Argentina de Python, organizada y llevada a cabo por voluntarios
            de la comunidad Python Argentina (<a href="http://www.python.org.ar/" target="_blank">PyAr</a>),
            y en esta oportunidad co­organizada por <a href="http://www.facttic.org.ar" target="_blank">Facttic</a>,
            la Federación de cooperativas de trabajo de tecnología innovación y conocimiento.
          </p>
          <p>De entrada libre y gratuita, se realizará los días 25, 26 y 27 de noviembre de 2016 en la ciudad de Bahía Blanca​, provincia de Buenos Aires.</p>
        </div>
        <div class="col-md-6"><img src="/site_media/static/images/facttic.jpg" class="img-responsive" /></div>
      </div>
    </div>
  </section>

  <section class="container-fluid secondary block-yellow">
    <div class="container">
      <div class="row">
        <div class="col-md-6"><img src="/site_media/static/images/palihue.jpg" class="img-responsive" /></div>
        <div class="col-md-6">
          <p>El mismo se desarrollará en el Complejo Palihue perteneciente a la Universidad Nacional del Sur, ubicado en la calle San Andrés al 800.</p>

          <p>El objetivo es reunir a desarrolladores, estudiantes, entusiastas y emprendedores del lenguaje de programación Python, para contribuir con su crecimiento y divulgación, fomentando y alentando el sentido de comunidad y cooperación.</p>

          <p>Se estima una concurrencia de 600 personas en el total del evento, para lo cual se dispone del complejo Palihue en su totalidad, el que posee capacidad para más de 800 personas en aula además de un amplio hall central para stands y acreditación.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="container-fluid secondary block-yellow">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>CÓDIGO DE CONDUCTA</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p>Valoramos la participación de cada miembro de la comunidad Python y que todos los asistentes tengan una experiencia agradable y satisfactoria. En consecuencia, se espera que todos los asistentes muestren respeto y cortesía a otros asistentes durante toda la conferencia y en todos los eventos relacionados con la conferencia.</p>
          <p>Para no dejar lugar a dudas, lo que se espera es que todos los asistentes, expositores, organizadores y voluntarios de la PyCon cumplan el siguiente Código de Conducta. Los organizadores (voluntarios, speakers y sponsors) serán responsables de fomentar el cumplimiento de este código durante todo el evento.</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 codigo-conducta">
          <p>Todos los asistentes tienen derecho a ser tratados con cortesía, dignidad y respeto y estar libre de cualquier forma de discriminación, victimización, acoso o intimidación; como así también a disfrutar de un ambiente libre de comportamiento no deseado, lenguaje inapropiado e imágenes inadecuadas.</p>
          <p>Está terminantemente prohibido el acoso. Entendiendo por éste, la comunicación ofensiva relacionada con el género, la orientación sexual, la discapacidad, la apariencia física, el tamaño corporal, la raza, la religión, las imágenes sexuales en espacios públicos, intimidación deliberada, acecho, siguiendo, de acoso fotográfico o grabación, interrupción sostenida de conversaciones u otros eventos, inapropiado contacto físico y atención sexual no deseada.</p>
          <p>Sea amable con los demás: confiamos en que los asistentes podrán tratar a los demás de una manera que refleja la opinión generalizada de que la diversidad y la amabilidad son los puntos fuertes de nuestra comunidad que se celebran y fomentan. </p>
          <p>Tenga cuidado con las palabras que elija. Recuerde que los chistes de exclusión sexistas, racistas, y otros pueden ser ofensivos para quienes le rodean.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p>Personal de la Conferencia estará encantado de ayudar a los participantes a que se sientan seguros y libres de acoso, por lo que si surgen problemas cubiertos por este código de conducta, por favor póngase en contacto con los organizadores del evento, los cuales tienen una remera distintiva. Cualquier queja será confidencial, será tomado en serio, investigada y tratada adecuadamente.</p>
          <p>Si un participante se involucra en comportamiento que viola el código de conducta, los organizadores de la conferencia pueden tomar cualquier acción que consideren apropiadas, incluyendo advertencia al infractor o la expulsión de la conferencia sin reembolso.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="container-fluid secondary block-yellow">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>EDICIONES ANTERIORES</h2>
          <p>Lorem ipsum dolor sit amet, consectetuer
              adipiscing elit. Aenean commodo ligula eget
              dolor. Aenean massa. Cum sociis natoque
              penatibus et magnis dis parturient montes,
              nascetur ridiculus mus. Donec quam felis,
              ultricies nec, pellentesque eu, pretium quis,
              sem. Nulla consequat massa quis enim.
              Donec pede justo, fringilla vel, aliquet nec,
              vulputate eget, arcu. In enim justo, rhoncus
              ut, imperdiet a, venenatis vitae, justo. Nullam
              dictum felis eu pede mollis pretium. Integer
              tincidunt. Cras dapibus.
          </p>
        </div>
        <!-- div class="col-md-6"><img src="/site_media/static/images/mendoza2.jpg" class="img-responsive" /></div -->
      </div>
    </div>
  </section>

  <section class="container-fluid secondary block-yellow">
    <div class="container">

      <div class="row">
        <div class="col-md-12">
          <div id="carousel-anteriores" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#carousel-anteriores" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-anteriores" data-slide-to="1"></li>
              <li data-target="#carousel-anteriores" data-slide-to="2"></li>
              <li data-target="#carousel-anteriores" data-slide-to="3"></li>
              <li data-target="#carousel-anteriores" data-slide-to="4"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <img alt="PyConAr 2011 Junin" src="/site_media/static/images/slider-anteriores/pycon-junin.jpg">
                <div class="carousel-caption">
                  <h3>PyConAr 2011 Junin</h3>
                </div>
              </div>

              <div class="item">
                <img alt="PyConAr 2012 Quilmes" src="/site_media/static/images/slider-anteriores/pycon-quilmes.jpg">
                <div class="carousel-caption">
                  <h3>PyConAr 2012 Quilmes</h3>
                </div>
              </div>

              <div class="item">
                <img alt="PyConAr 2013 Rosario" src="/site_media/static/images/slider-anteriores/pycon-rosario.jpg">
                <div class="carousel-caption">
                  <h3>PyConAr 2013 Rosario</h3>
                </div>
              </div>

              <div class="item">
                <img alt="PyConAr 2014 Rafaela" src="/site_media/static/images/slider-anteriores/pycon-rafaela.jpg">
                <div class="carousel-caption">
                  <h3>PyConAr 2014 Rafaela</h3>
                </div>
              </div>

              <div class="item">
                <img alt="PyConAr 2015 Mendoza" src="/site_media/static/images/slider-anteriores/pycon-mendoza.jpg">
                <div class="carousel-caption">
                  <h3>PyConAr 2015 Mendoza</h3>
                </div>
              </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-anteriores" role="button" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
              <span class="sr-only">Anterior</span>
            </a>
            <a class="right carousel-control" href="#carousel-anteriores" role="button" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
              <span class="sr-only">Siguiente</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  {% if ACCOUNT_OPEN_SIGNUP %}
  <section class="container-fluid primary block-blue">
    <div class="container">
      <h2>Inscripciones abiertas!</h2>
      <p>Durante todas las jornadas, podrás elegir entre 2 charlas que se darán al
      mismo tiempo. Qué tenemos preparado para que vengas? Un pybus que
      viaja de CABA a Bahía Blanca , convenios con hostels, premios y mucho
      más..te mantenemos al tanto!</p>
      <div class="center"><a href="{% url 'account_signup' %}" class="btn btn-warning">Inscribite!</a></div>
    </div>
  </section>
  {% endif %}
{% endblock %}
