{% extends "site_base.html" %}

{% load bootstrap %}

{% block head_title %}Becas{% endblock %}

{% block body_class %}becas{% endblock %}

{% block body_base %}
<section class="container-fluid secondary block-yellow">
    <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2>Solicitud de becas</h2>
          </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>
                El plazo para la solicitud de becas se encuentra cerrado.
                Hemos recibido más de 30 solicitudes. Si enviaste tu solicitud
                la estaremos evaluando y comunicándonos a la brevedad.
                </p>
                <p>Gracias</p>
                El equipo PyconAR2016
            </div>
        </div>
    </div>
</section>
{% endblock %}
