{% extends "site_base.html" %}

{% load bootstrap %}

{% block head_title %}Becas{% endblock %}

{% block body_class %}becas pages{% endblock %}

{% block body_base %}
<section class="container-fluid secondary block-yellow">
    <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2>Solicitud de becas</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
              <form id="becas_form" method="post" action="" autocapitalize="off">
                  {% csrf_token %}
                  {{ form|bootstrap }}

                  <button type="submit" class="btn btn-primary">Enviar</button>
              </form>
          </div>
            <div class="col-md-6">
                <p> Queremos que la Pycon sea un evento donde todos puedan participar sin
                sentirse excluidos. Si necesitas de ayuda económica para pasaje o estadía, podés solicitar una beca.</p>
                <p>Hay un número limitado de becas, que podemos ofrecer, por eso te pedimos que
                sólo la solicites en caso de realmente requerila.</p>
                <p>Por favor te pedimos que llenes todos tus datos y nos cuentes con que parte
                de tu viaje podemos ayudarte.</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}
