{% extends "site_base.html" %}

{% load i18n %}
{% load pinax_boxes_tags %}

{% block head_title %}Código de Conducta{% endblock %}

{% block body_class %}codigo pages{% endblock %}

{% block body_base %}

<section class="container-fluid secondary block-yellow">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>CÓDIGO DE CONDUCTA</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p>Valoramos la participación de cada miembro de la comunidad Python y que todos los asistentes tengan una experiencia agradable y satisfactoria. En consecuencia, se espera que todos los asistentes muestren respeto y cortesía a otros asistentes durante toda la conferencia y en todos los eventos relacionados con la conferencia.</p>
        <p>Para no dejar lugar a dudas, lo que se espera es que todos los asistentes, expositores, organizadores y voluntarios de la PyCon cumplan el siguiente Código de Conducta. Los organizadores (voluntarios, speakers y sponsors) serán responsables de fomentar el cumplimiento de este código durante todo el evento.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 codigo-conducta">
        <p>Todos los asistentes tienen derecho a ser tratados con cortesía, dignidad y respeto y estar libre de cualquier forma de discriminación, victimización, acoso o intimidación; como así también a disfrutar de un ambiente libre de comportamiento no deseado, lenguaje inapropiado e imágenes inadecuadas.</p>
        <p>Está terminantemente prohibido el acoso. Entendiendo por éste, la comunicación ofensiva relacionada con el género, la orientación sexual, la discapacidad, la apariencia física, el tamaño corporal, la raza, la religión, las imágenes sexuales en espacios públicos, intimidación deliberada, acecho, siguiendo, de acoso fotográfico o grabación, interrupción sostenida de conversaciones u otros eventos, inapropiado contacto físico y atención sexual no deseada.</p>
        <p>Sea amable con los demás: confiamos en que los asistentes podrán tratar a los demás de una manera que refleja la opinión generalizada de que la diversidad y la amabilidad son los puntos fuertes de nuestra comunidad que se celebran y fomentan. </p>
        <p>Tenga cuidado con las palabras que elija. Recuerde que los chistes de exclusión sexistas, racistas, y otros pueden ser ofensivos para quienes le rodean.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p>Personal de la Conferencia estará encantado de ayudar a los participantes a que se sientan seguros y libres de acoso, por lo que si surgen problemas cubiertos por este código de conducta, por favor póngase en contacto con los organizadores del evento, los cuales tienen una remera distintiva. Cualquier queja será confidencial, será tomado en serio, investigada y tratada adecuadamente.</p>
        <p>Si un participante se involucra en comportamiento que viola el código de conducta, los organizadores de la conferencia pueden tomar cualquier acción que consideren apropiadas, incluyendo advertencia al infractor o la expulsión de la conferencia.</p>
      </div>
    </div>
  </div>
</section>

{% endblock %}
