{% extends "site_base.html" %}

{% load i18n %}
{% load pinax_boxes_tags %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body_class %}forma-parte pages{% endblock %}

{% block body_base %}
  <section class="container-fluid secondary block-yellow">
      <div class="container">
          <div class="row">
              <div class="col-md-12">
                  <h2>Forma Parte</h2>
                  <p>¿Te interesa dar una charla o taller en la PYCON? Muy pronto podrás enviarnosla, estate atent@.</p>
                  <!-- <div class="center"><a href="{% url 'account_signup' %}" class="btn btn-warning">Registrate!</a></div> -->
              </div>
          </div>
          <div class="row">
              <div class="col-md-12">
                  <h2>Call for colaboradores</h2>
                  <p>Si estas interesad@ en ayudarnos durante el evento envianos un
                  email a <a
                   href="mailto:pyconar@python.org.ar">pyconar at python.org.ar</a>
                  ¡Queremos que participes!</p>
              </div>
          </div>
          <div class="row">
              <div class="col-md-12">
                  <h2>Call for hacks</h2>
                  <p> La PyConAR suele ser un evento donde convergen, comunidad,
                  python, software libre y cultura libre. Haciendo énfasis en la
                  participación de la comunidad, este año queremos invitarlos a
                  participar del evento contribuyendo con pequeños "hacks" e ideas que
                  nos ayuden a hacerlo más útil y divertido, como por ejemplo:</p>
                  <ul>
                      <li> Usando una raspberry como transmisor de FM para traducir
                          charlas.</li>
                      <li> Armar bots que contesten sobre el evento, charlas y
                          disertantes.</li>
                      <li> Herramientas/combinación de servicios para el streaming de
                          charlas.</li>
                      <li> Ideas innovadoras para armar sorteos.</li>
                      <li>ar un TOTEM o robot interactivo para el evento.</li>
                      <li>ado de red wifi de manera innovadora.</li>
                      <li>cuito interno de TV. PyconTV para documentar el evento.</li>
                  </ul>
                  <p>Las anteriores son sólo ideas, no hay límite ni alcance en dichas
                  innovaciones.</p>

                  <h3 style="color:#337ab7">Bases y condiciones:</h3>
                  <p>Se recibirán propuestas de hacks e ideas hasta el 15 de octubre.
                  Se tratará de incluir todas las propuestas que se consideren viables, en el
                  caso de propuestas similares, se elegirá la más conveniente y se alentará a
                  trabajar en conjunto.
                  En el caso de requerir un costo, la organización realizará la evaluación y de
                  ser posible se hará cargo del mismo.
                  Quienes presenten las propuestas serán los encargados de llevarlas a cabo
                  dentro del evento, con supervisión de la organización.</p>

                  <p>Las propuestas deberán ser enviadas en formato PDF e
                  incluir:</p>
                  <ul>
                      <li> Responsable a cargo de la misma.</li>
                      <li>Descripción de idea o hack, lo más detallada
                          posible.</li>
                      <li>Requerimientos en espacio, tiempo, costo (en caso de
                          requerirse financiación)</li>
                      y colaboración externa en el evento.
                      <li>Datos de contacto, email y celular de ser posible.</li>
                  </ul>
                  <p>Dirección de correo para envío: <a
                      href="mailto:pyconar@python.org.ar">pyconar at python.org.ar</a></p>



              </div>
          </div>
      <!-- div class="row">
        <div class="col-md-12">
          <h2>Mecenazgo</h2>
          <p>Podeś apoyar la conferencia con una donación, toda ayuda sirve para hacer de este evento mejor.</p>
        </div>
      </div -->
    </div>
  </section>
{% endblock %}
