{% extends "site_base.html" %}

{% load i18n %}
{% load pinax_boxes_tags %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body_class %}about{% endblock %}

{% block body_base %}
  <section class="container-fluid secondary block-yellow">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2>Forma Parte</h2>
          <p>- Querés dar una charla en la PYCON? Registrate y contanos de que trata la charla.</p>
          <p>- Call for colaboradoes: Si estas interesado en participar podes ayudar en tareas relacionadas con la organización. Completá el formulario y nos pondemos en contacto.</p>
          <p>- Call for hacks: Si querés participar armando una actividad durante la conferencia completá el formulario con tu idea.</p>
          <p>- Mecenazgo: Podeś apoyar la conferencia con una donación, toda ayuda sirve para hacer de este evento algo mejor.</p>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
