{% extends "site_base.html" %}

{% load i18n %}
{% load pinax_boxes_tags %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body_class %}forma-parte pages{% endblock %}

{% block body_base %}
  <section class="container-fluid secondary block-yellow">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Forma Parte</h2>
          <p>Querés dar una charla en la PYCON? Registrate y contanos de que trata la charla.</p>
          <div class="center"><a href="{% url 'account_signup' %}" class="btn btn-warning">Registrate!</a></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h2>Call for colaoradores</h2>
          <p>Si estas interesado en participar podes ayudar en tareas relacionadas con la organización. Completá el formulario y nos pondemos en contacto.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h2>Call for hacks</h2>
          <p>Si querés participar armando una actividad durante la conferencia completá el formulario con tu idea y te ayudaremos a que se haga.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h2>Mecenazgo</h2>
          <p>Podeś apoyar la conferencia con una donación, toda ayuda sirve para hacer de este evento mejor.</p>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
