{% extends "site_base.html" %}

{% load i18n %}
{% load pinax_boxes_tags %}

{% block head_title %}Bienvenid@os a Pyconar2016{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %}
  {% if ACCOUNT_OPEN_SIGNUP %}
  <section class="container-fluid primary block-blue">
    <div class="container">
      <h2>!Inscripciones abiertas!</h2>
      <p>Durante todas las jornadas, podrás elegir entre 2 charlas que se darán al
      mismo tiempo. ¿Qué tenemos preparado para que vengas? Un pybus que
      viaja de CABA a Bahía Blanca , convenios con hostels, premios y mucho
      más..te mantenemos al tanto!</p>
      <div class="center"><a href="{% url 'account_signup' %}" class="btn btn-warning">Inscribite!</a></div>
    </div>
  </section>
  {% else %}
  <section class="container-fluid primary block-blue">
    <div class="container">
        <h2>Inscripción</h2>
        <p>La entrada es libre y gratuita. Seguinos en twitter <a href="https://twitter.com/pyconar" target="_blank">@pyconar</a> para más novedades sobre el evento y la apertura de la inscripción.</p>
        <p>Todos los asistentes deberán aceptar y respetar el <a href="/codigo-conducta">código de conducta</a>.</p>
    </div>
  </section>
  {% endif %}

  <section class="container-fluid secondary block-blue">
    <div class="container">
      <div class="row">
        <div class="col-md-6"><img src="/site_media/static/images/mendoza.jpg" class="img-responsive" /></div>
        <div class="col-md-6">
          <h2>SOBRE EL EVENTO</h2>
          <p>PyconAr es la conferencia anual Argentina de <a href="https://www.python.org/" target="_blank">Python</a>, organizada y llevada a cabo por voluntarios de la comunidad Python Argentina (PyAr), y en esta oportunidad co­organizada por Facttic, la Federación de cooperativas de trabajo de tecnología innovación y conocimiento.</p>
          <p>De entrada libre y gratuita, se realizará los días 25, 26 y 27 de noviembre de 2016 en la ciudad de Bahía Blanca​, provincia de Buenos Aires.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="container-fluid secondary block-blue">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Becas y transporte</h2>
      <p>Habra becas disponibles para que nadie se quede afuera, tanto para transporte como para alojamiento.<a href="/becas/"> Aplicá aquí</a></p>
          <p>También habrá un micro gratuito para los asistentes que irá desde
          CABA hasta Bahia Blanca.</p><p>Estamos trabajando en otras opciones
          para quienes vienen de diferentes partes del país.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="container-fluid secondary block-blue">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Lugar</h2>
          <p>La conferencia se desarrollará en el Complejo Palihue perteneciente a la Universidad Nacional del Sur, ubicado en la calle San Andrés al 800.</p>
          <p>Habrá espacio para stands, talleres, múltiples tracks, espacios de networking y sprints.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div id="map"></div>
        </div>
        <div class="col-md-6"><img src="/site_media/static/images/palihue.jpg" class="img-responsive" /></div>
      </div>
    </div>
  </section>

  <section class="container-fluid secondary block-blue invitados">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h2>Invitados</h2>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <img src="/site_media/static/images/victoria2.jpg" class="img-responsive" />
        </div>
        <div class="col-md-9">
          <h3>Victoria Martinez de la Cruz</h3>
          <p>Ingeniera de software en <a href="https://www.redhat.com/es" target="_blank">Red Hat</a>.</p>
          <p>Victoria Martinez de la Cruz es graduada de la Universidad Nacional del Sur y actualmente trabaja como ingeniera de software en Red Hat para el proyecto OpenStack. Es co-fundadora de la comunidad LinuxChix Argentina, iniciativa que busca reunir a las mujeres en tecnología de Argentina y ayudar a minimizar la brecha de género en el ámbito de las TICs. Mentora en diversas iniciativas de educación, apasionada y gran defensora de la filosofía open-source y entusiasta de la tecnología en general.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <img src="/site_media/static/images/angel.jpg" class="img-responsive" />
        </div>
        <div class="col-md-9">
          <h3>Ángel Medinilla</h3>
          <p>Fundador, Gerente y Consultor Senior en <a href="http://www.proyectalis.com/" target="_blank">Proyectalis</a> y en <a href="http://www.improvement21.com/" target="_blank">Improvement21</a>.</p>
          <p>Ángel Medinilla lleva más de 20 años en el mercado de las Tecnologías de la Información y las Telecomunicaciones. Desde 2007 es Gerente y Consultor Senior en Proyectalis, la empresa líder en la prestación de servicios de consultoría y formación en medotodologías Ágiles en España y una de las más reconocidas a nivel internacional, con proyectos desarrollados en empresas internacionales y nacionales. En 2015, junto con Andrea Darabos, ha fundado Improvement21, una empresa dedicada a llevar los hábitos de mejora continua a personas y organizaciones de todo el mundo.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <img src="/site_media/static/images/fernando.jpg" class="img-responsive" />
        </div>
        <div class="col-md-9">
          <h3>Fernando Schapachnik</h3>
          <p><a href="http://www.fundacionsadosky.org.ar/" target="_blank">Fundación Sadosky</a></p>
          <p>Computólogo (y) militante. Harta a sus amigos con la única obsesión que confiesa: todos los niños y las niñas tienen derecho a aprender programación en la escuela.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="container-fluid secondary block-blue">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>EDICIONES ANTERIORES</h2>
          <!-- p>La Primera PyconAR se realizó el año 2009 en Buenos Aires. A partir de allí se realizaron todos los años en diferentes lugares como Córdoba (2010), Junin (2011), Quilmes (2012), Rosario (2013), Rafaela (2014) y Mendoza (2015). A través de los años fue aumentando la convocatoria y la comunidad de Pyar fue creciendo. </p>
	        <p>Los invitados internacionales de ediciones anteriores incluyeron a Jacob Kaplan Moss (Django), Wesley Chun y Collin Winter(Google), Steve Holden (PSF), Maciej Fijalkowski (PyPy), Jim Fulton (Zope) , Alan Runyan (Plone) y Daniel y Audrey RoyGreenfeld. Varios visitantes de la región y de otros continentes han asistido a conferencias previas, siendo este un gran lugar para promocionarse e intercambiar experiencias.</p -->
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div id="carousel-anteriores" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#carousel-anteriores" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-anteriores" data-slide-to="1"></li>
              <li data-target="#carousel-anteriores" data-slide-to="2"></li>
              <li data-target="#carousel-anteriores" data-slide-to="3"></li>
              <li data-target="#carousel-anteriores" data-slide-to="4"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <img alt="PyConAr 2011 Junin" src="/site_media/static/images/slider-anteriores/pycon-junin.jpg">
                <div class="carousel-caption">
                  <h3>PyConAr 2011 Junin</h3>
                </div>
              </div>

              <div class="item">
                <img alt="PyConAr 2012 Quilmes" src="/site_media/static/images/slider-anteriores/pycon-quilmes.jpg">
                <div class="carousel-caption">
                  <h3>PyConAr 2012 Quilmes</h3>
                </div>
              </div>

              <div class="item">
                <img alt="PyConAr 2013 Rosario" src="/site_media/static/images/slider-anteriores/pycon-rosario.jpg">
                <div class="carousel-caption">
                  <h3>PyConAr 2013 Rosario</h3>
                </div>
              </div>

              <div class="item">
                <img alt="PyConAr 2014 Rafaela" src="/site_media/static/images/slider-anteriores/pycon-rafaela.jpg">
                <div class="carousel-caption">
                  <h3>PyConAr 2014 Rafaela</h3>
                </div>
              </div>

              <div class="item">
                <img alt="PyConAr 2015 Mendoza" src="/site_media/static/images/slider-anteriores/pycon-mendoza.jpg">
                <div class="carousel-caption">
                  <h3>PyConAr 2015 Mendoza</h3>
                </div>
              </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-anteriores" role="button" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
              <span class="sr-only">Anterior</span>
            </a>
            <a class="right carousel-control" href="#carousel-anteriores" role="button" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
              <span class="sr-only">Siguiente</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="container-fluid secondary block-blue sponsors">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Sponsors</h2>
          {% box "sponsors" %}
        </div>
      </div>
    </div>
  </section>

  <section class="container-fluid primary block-blue">
    <div class="container">
      <h2>Seguimos buscando Sponsors</h2>
      <p>¡Si querés apoyar la pyconar no dudes en escribinos!</p>
      <div class="center"><a href="mailto:sponsor-pyconar@python.org.ar" class="btn btn-warning">Convertite en Sponsor!</a></div>
    </div>
  </section>

{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCyG0dHUK_9vhz5neVjdUriBQm91eQppdQ&callback=initMap" async defer></script>
    <script>
    function initMap() {
      var myLatLng = {lat: -38.695164, lng: -62.253801};

      var map = new google.maps.Map(document.getElementById('map'), {
        center: myLatLng,
        scrollwheel: false,
        zoom: 17
      });

      var marker = new google.maps.Marker({
        map: map,
        position: myLatLng,
        title: 'UNS Campus Palihue'
      });
    }
    </script>
{% endblock %}
