{% extends "site_base.html" %}

{% load i18n %}
{% load pinax_boxes_tags %}
{% load static %}
{% block head_title %}Bienvenid@os a Pyconar2016{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %}
  {% if ACCOUNT_OPEN_SIGNUP %}
  <section class="container-fluid primary block-blue">
    <div class="container">
      <h2>!Inscripciones abiertas!</h2>
      <p>Para inscribirte al evento primero necesitas<a href="{% url 'account_signup' %}"> registrate en el sitio</a>, una
      vez logueado podrás inscribirte al evento <a href="{% url 'dashboard' %}">aquí</a>.</p>
        <p>Todos los asistentes deberán aceptar y respetar el <a href="/codigo-conducta">código de conducta</a>.</p>
    </div>
  </section>
  {% else %}
  {% endif %}

  <section class="container-fluid secondary block-blue">
    <div class="container">
      <div class="row">
        <div class="col-md-6"><img src="/site_media/static/images/mendoza.jpg" class="img-responsive" /></div>
        <div class="col-md-6">
          <h2>SOBRE EL EVENTO</h2>
          <p>PyconAr es la conferencia anual Argentina de <a href="https://www.python.org/" target="_blank">Python</a>, organizada y llevada a cabo por voluntarios de la comunidad Python Argentina (PyAr), y en esta oportunidad co­organizada por Facttic, la Federación de cooperativas de trabajo de tecnología innovación y conocimiento.</p>
          <p>De entrada libre y gratuita, se realizará los días 25, 26 y 27 de noviembre de 2016 en la ciudad de Bahía Blanca​, provincia de Buenos Aires.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="container-fluid secondary block-blue">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Becas y transporte</h2>
          <p>Hemos recibido más de 30 solicitudes de becas este año las cuales
          estamos evaluando.  ¡Si hiciste tu solicitud estate atent@!</p>
          <p>También habrá un micro gratuito para los asistentes que irá desde CABA hasta Bahía Blanca organizado y gestionado, como años anteriores, por ONAPSIS a quienes agradecemos el compromiso con este evento.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="container-fluid secondary block-blue">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Ubicaciones</h2>
          <p>La conferencia se desarrollará en dos espacios. El día viernes
          será de talleres y sprints en el Club de emprendedores de Bahía
          Blanca en la calle Drago 45 (pleno centro de la ciudad), y los días sábado y domingo el evento se realizará en el
          Complejo Palihue perteneciente a la Universidad Nacional del Sur,
          ubicado en la calle San Andrés al 800, donde habrá espacio para
          stands, talleres, múltiples tracks de charlas, espacios de networking y sprints.</p>
        </div>
      </div>
      <h3>Club de emprendedores</h3>
      <div class="row top-buffer">
        <div class="col-md-6">
          <div id="map-club"></div>
        </div>
        <div class="col-md-6">
          <img src="{% static "images/club_emprendedores.jpg" %}" class="img-responsive" />
        </div>
      </div>
      <h3>Complejo Palihue</h3>
      <div class="row top-buffer">
        <div class="col-md-6">
          <div id="map-palihue"></div>
        </div>
        <div class="col-md-6">
          <img src="{% static "images/palihue.jpg" %}" class="img-responsive" />
        </div>
      </div>



    </div>


  </section>

  <section class="container-fluid secondary block-blue invitados">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h2>Invitados</h2>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <img src="/site_media/static/images/victoria2.jpg" class="img-responsive" />
        </div>
        <div class="col-md-9">
          <h3>Victoria Martinez de la Cruz</h3>
          <p>Ingeniera de software en <a href="https://www.redhat.com/es" target="_blank">Red Hat</a>.</p>
          <p>Victoria Martinez de la Cruz es graduada de la Universidad Nacional del Sur y actualmente trabaja como ingeniera de software en Red Hat para el proyecto OpenStack. Es co-fundadora de la comunidad LinuxChix Argentina, iniciativa que busca reunir a las mujeres en tecnología de Argentina y ayudar a minimizar la brecha de género en el ámbito de las TICs. Mentora en diversas iniciativas de educación, apasionada y gran defensora de la filosofía open-source y entusiasta de la tecnología en general.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
            <img src="{% static "images/angel.jpg" %}" class="img-responsive" />
        </div>
        <div class="col-md-9">
          <h3>Ángel Medinilla</h3>
          <p>Fundador, Gerente y Consultor Senior en <a href="http://www.proyectalis.com/" target="_blank">Proyectalis</a> y en <a href="http://www.improvement21.com/" target="_blank">Improvement21</a>.</p>
          <p>Ángel Medinilla lleva más de 20 años en el mercado de las Tecnologías de la Información y las Telecomunicaciones. Desde 2007 es Gerente y Consultor Senior en Proyectalis, la empresa líder en la prestación de servicios de consultoría y formación en metodologías Ágiles en España y una de las más reconocidas a nivel internacional, con proyectos desarrollados en empresas internacionales y nacionales. En 2015, junto con Andrea Darabos, ha fundado Improvement21, una empresa dedicada a llevar los hábitos de mejora continua a personas y organizaciones de todo el mundo.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
            <img src="{% static "images/Fernando-S.png" %}" class="img-responsive" />
        </div>
        <div class="col-md-9">
          <h3>Fernando Schapachnik</h3>
          <p><a href="http://www.fundacionsadosky.org.ar/" target="_blank">Fundación Sadosky</a></p>
          <p>Fernando Schapachnik es doctor en Ciencias de la Computación y profesor adjunto
del Departamento de Computación de la Facultad de Ciencias Exactas y Naturales
de la Universidad de Buenos Aires. Participa de la coordinación de la
Iniciativa Program.AR de la Fundación Dr. Manuel Sadosky. En los últimos años
se ha dedicado a distintos aspectos relacionados con la llegada de las Ciencias
de la Computación a la escuela argentina.</p>

        </div>
      </div>
    </div>
  </section>

  <section class="container-fluid secondary block-blue">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>EDICIONES ANTERIORES</h2>
          <!-- p>La Primera PyconAR se realizó el año 2009 en Buenos Aires. A partir de allí se realizaron todos los años en diferentes lugares como Córdoba (2010), Junin (2011), Quilmes (2012), Rosario (2013), Rafaela (2014) y Mendoza (2015). A través de los años fue aumentando la convocatoria y la comunidad de Pyar fue creciendo. </p>
	        <p>Los invitados internacionales de ediciones anteriores incluyeron a Jacob Kaplan Moss (Django), Wesley Chun y Collin Winter(Google), Steve Holden (PSF), Maciej Fijalkowski (PyPy), Jim Fulton (Zope) , Alan Runyan (Plone) y Daniel y Audrey RoyGreenfeld. Varios visitantes de la región y de otros continentes han asistido a conferencias previas, siendo este un gran lugar para promocionarse e intercambiar experiencias.</p -->
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div id="carousel-anteriores" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#carousel-anteriores" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-anteriores" data-slide-to="1"></li>
              <li data-target="#carousel-anteriores" data-slide-to="2"></li>
              <li data-target="#carousel-anteriores" data-slide-to="3"></li>
              <li data-target="#carousel-anteriores" data-slide-to="4"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <img alt="PyConAr 2011 Junin" src="/site_media/static/images/slider-anteriores/pycon-junin.jpg">
                <div class="carousel-caption">
                  <h3>PyConAr 2011 Junin</h3>
                </div>
              </div>

              <div class="item">
                <img alt="PyConAr 2012 Quilmes" src="/site_media/static/images/slider-anteriores/pycon-quilmes.jpg">
                <div class="carousel-caption">
                  <h3>PyConAr 2012 Quilmes</h3>
                </div>
              </div>

              <div class="item">
                <img alt="PyConAr 2013 Rosario" src="/site_media/static/images/slider-anteriores/pycon-rosario.jpg">
                <div class="carousel-caption">
                  <h3>PyConAr 2013 Rosario</h3>
                </div>
              </div>

              <div class="item">
                <img alt="PyConAr 2014 Rafaela" src="/site_media/static/images/slider-anteriores/pycon-rafaela.jpg">
                <div class="carousel-caption">
                  <h3>PyConAr 2014 Rafaela</h3>
                </div>
              </div>

              <div class="item">
                <img alt="PyConAr 2015 Mendoza" src="/site_media/static/images/slider-anteriores/pycon-mendoza.jpg">
                <div class="carousel-caption">
                  <h3>PyConAr 2015 Mendoza</h3>
                </div>
              </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-anteriores" role="button" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
              <span class="sr-only">Anterior</span>
            </a>
            <a class="right carousel-control" href="#carousel-anteriores" role="button" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
              <span class="sr-only">Siguiente</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="container-fluid secondary block-blue sponsors">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Sponsors</h2>
          {% box "sponsors" %}
        </div>
      </div>
    </div>
  </section>

  <section class="container-fluid primary block-blue">
    <div class="container">
      <h2>Seguimos buscando Sponsors</h2>
      <p>¡Si querés apoyar la pyconar no dudes en escribirnos!</p>
      <div class="center"><a href="mailto:sponsor-pyconar@python.org.ar" class="btn btn-warning">Convertite en Sponsor</a></div>
    </div>
  </section>

{% endblock %}

{% block styles %}
  {{ block.super }}
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.1/dist/leaflet.css" />
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="https://unpkg.com/leaflet@1.0.1/dist/leaflet.js" defer></script>
    <script>
    function initMaps() {
      var LatLngPalihue = {lat: -38.695164, lng: -62.253801};
      var LatLngClub = {lat: -38.719668, lng: -62.266995};

      function makeTileLayer() {
        return L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
          attribution: '&copy; <a href="http://openstreetmap.org/copyright">Colaboradores de OpenStreetMap</a>',
          maxZoom: 19
        });
      }

      var mapPalihue = L.map('map-palihue').setView(LatLngPalihue, 17);
      makeTileLayer().addTo(mapPalihue);

      var mapClub = L.map('map-club').setView(LatLngClub, 18);
      makeTileLayer().addTo(mapClub);

      var marker = L.marker(LatLngPalihue).addTo(mapPalihue);
      marker.bindPopup('UNS Campus Palihue');

      var marker = L.marker(LatLngClub).addTo(mapClub);
      marker.bindPopup('Club de emprendedores de Bahía Blanca');
    }

    $(document).ready(initMaps);
    </script>
{% endblock %}
