{% extends "site_base.html" %}

{% load i18n %}
{% load pinax_boxes_tags %}

{% block head_title %}Organizadores{% endblock %}

{% block body_class %}organizadores{% endblock %}

{% block body_base %}
<section class="container-fluid secondary">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="/site_media/static/images/pyar-logo.jpg" class="img-responsive" />
      </div>
      <div class="col-md-6">
        <h2>PyAr</h2>
        <p>
          Pyar es la comunidad local de usuarios del lenguaje Python, que nuclea a todos los interesados en la Argentina. Pretende llegar a usuarios y empresas, promover el uso del lenguaje, intercambiar información, compartir experiencias y, en general, ser el marco de referencia local en el uso y difusión de esta tecnología.
        </p>
        <p>
          <a href="http://www.python.org.ar" target="_blank">Más sobre PyAr</a>
        </p>
      </div>
    </div>
  </div>
</section>

<section class="container-fluid secondary">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>FACTTIC</h2>
        <p>
          La Federación Argentina de Cooperativas de Trabajo de Tecnología, Innovación y Conocimiento (FACTTIC) es un espacio para que las cooperativas de Trabajo del sector intercambien y construyan en conjunto. El objetivo principal de la Federación es ser un espacio de fortalecimiento de sus miembros y de difusión de esta forma de entender el trabajo y las tecnologías. Somos grandes usuarios y contribuyentes del software libre y Python.
        </p>
        <p>
          <a href="http://www.facttic.org.ar" target="_blank">Más sobre FACTTIC</a>
        </p>
      </div>
      <div class="col-md-6">
        <img src="/site_media/static/images/facttic2.png" class="img-responsive" />
      </div>
    </div>
  </div>
</section>

<section class="container-fluid secondary colaboradores">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2>Responsables</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2 col-md-offset-1">
        <img src="/site_media/static/images/gabi.jpg" class="img-responsive" />
        <p>Gabriel Hernández</p>
      </div>
      <div class="col-md-2">
        <img src="/site_media/static/images/ska.jpg" class="img-responsive" />
        <p>Juan Manuel Schillaci</p>
      </div>
      <div class="col-md-2">
        <img src="/site_media/static/images/clodo.jpg" class="img-responsive" />
        <p>Claudio Juan Bidau</p>
      </div>
      <div class="col-md-2">
        <img src="/site_media/static/images/agus.jpg" class="img-responsive" />
        <p>Agustín Recouso</p>
      </div>
      <div class="col-md-2">
        <img src="/site_media/static/images/lean.jpg" class="img-responsive" />
        <p>Leandro Colombo Viña</p>
      </div>
    </div>
  </div>
</section>

<section class="container-fluid secondary colaboradores">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2>Colaboradores</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2 col-md-offset-1">
        <img src="/site_media/static/images/aledott.jpg" class="img-responsive" />
        <p>Ale Dotti</p>
      </div>
      <div class="col-md-2">
        <img src="/site_media/static/images/cyn.jpg" class="img-responsive" />
        <p>Cyn Monastirsky</p>
      </div>
      <div class="col-md-2">
        <img src="/site_media/static/images/marie.jpg" class="img-responsive" />
        <p>Mariella Abiuso Cabral</p>
      </div>
      <div class="col-md-2">
        <img src="/site_media/static/images/agus_longoni.jpg" class="img-responsive" />
        <p>Agustín Longoni</p>
      </div>
      <div class="col-md-2">
        <img src="/site_media/static/images/alu.jpg" class="img-responsive" />
        <p>Alina Ryba</p>
      </div>
    </div>
  </div>
</section>

<section class="container-fluid secondary apoyan">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2>Apoyan</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2 col-md-offset-2">
        <a href="http://www.fundacionsadosky.org.ar/" target="_blank"><img src="/site_media/static/images/sadosky.png" class="img-responsive" /></a>
      </div>
      <div class="col-md-2">
        <a href="http://www.uns.edu.ar/" target="_blank"><img src="/site_media/static/images/uns2.png" class="img-responsive" /></a>
      </div>
      <div class="col-md-2">
        <a href="http://www.linuxchix.org/" target="_blank"><img src="/site_media/static/images/lcxlogo.png" class="img-responsive" /></a>
      </div>
      <div class="col-md-2">
        <a href="https://www.stickermule.com/" target="_blank"><img src="/site_media/static/images/stickermule.png" class="img-responsive" /></a>
      </div>
    </div>
  </div>
</section>

{% endblock %}
